{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class= 'row well well-lg'>

<img src="{% static 'images/contact.jpg' %}" alt="contact us" style="float: right;">
<p><b>Phone:</b></p>
<p><h4>+91 92111 77444</h4> (Operating window 10 AM to 9 PM IST)</p>
<p><b>E-mail:</b></p>
<email>help@travelguide.com</email>
<h3>Head Office:</h3>
<p>Yatra TG Stays Private Limited </p>
<p>802, 8th Floor, ' C ' Wing</p>
<p>Eureka Towers, Mindspace. Link Road, Malad (West)</p>
<p>Mumbai - 400 064</p>
<p>Phone: + 91 22 42754800 / 700 (Monday to Saturday 1000-1800 Hrs)</p>

</div>

{% endblock %}