{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


	<h1>Search Places</h1>
	<form method="post" action="/search/">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-lg-5">
		<input type="text" name="srh" class="form-control" placeholder="Enter name ">
			</div>
			<label class="col-lg-2">
				<button type="submit" class="btn btn-danger">Search</button>
			</label>
		</div>

	</form><br><br>

<div>
	{% if messages %}
		<ul class="messages">
			{% for k in messages %}
			<li style="color:red">{{ k }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div><br>


	{% if sr %}
		{% for location in sr %}
		<div class="tracker panel panel-default">
    	<div class="panel-heading">
        <h2 class="panel-title">{{ location.name }}</h2>
    	</div>
    	<div class="panel-body">
        
        <img src="{{ location.image.url }}" alt="Location " />

         <p>{{ location.description }}</p>
           
        <h3>Best Time to Visit</h3>
        <p>{{ location.Best_Time_to_Visit }}</p>

    	</div>
   <br><br>
    	<div>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31844760.89615257!2d63.51546131855187!3d20.949402366265602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1522005241280" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</div>
		</div>	

		{% endfor %}
	{% endif %}

<br><br><br><br><br>

{% endblock %}
